<footer class="footer">
  <span class="copyright">Copyright © K8up Authors 2021-2023 – All Rights Reserved.</span>
  <span class="cncf_sandbox">We are a Cloud Native Computing Foundation sandbox project.</span>
  <span class="cncf_logo"><img src="/_/img/cncf.svg"></span>
</footer>
