<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="syn_logo"></div>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}
          {{#unless (eq page.componentVersion.displayVersion "master")}}{{#unless (eq page.layout '404')}} –
          v{{page.componentVersion.displayVersion}}{{/unless}}{{/unless}}</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Tools</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://syn.tools/commodore/">Commodore</a>
            <a class="navbar-item" target="_blank" href="https://github.com/topics/commodore-component">Commodore
              Components</a>
            <a class="navbar-item" href="https://k8up.io/" target="_blank">K8up</a>
            <a class="navbar-item" href="https://syn.tools/lieutenant-api/">Lieutenant API</a>
            <a class="navbar-item" href="https://syn.tools/lieutenant-operator/">Lieutenant Operator</a>
            <a class="navbar-item" href="https://syn.tools/steward/">Steward</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            <div class="vshn-unified-logo"></div>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="https://www.vshn.ch/">Main website</a>
            <a class="navbar-item" target="_blank" href="https://handbook.vshn.ch/">Handbook</a>
            <a class="navbar-item" target="_blank" href="https://kb.vshn.ch/">Knowledge Base</a>
            <a class="navbar-item" target="_blank" href="https://products.docs.vshn.ch/">Products</a>
            <a class="navbar-item" target="_blank" href="https://legal.docs.vshn.ch/">Legal</a>
            <a class="navbar-item" target="_blank" href="https://control.docs.vshn.ch/">Portal Help</a>
            <a class="navbar-item" target="_blank" href="https://docs.appuio.ch/">APPUiO Documentation</a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="search-field">
            <input id="search-input" class="search-input" type="search" placeholder="Search">
            <button type="submit" class="search-button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="https://github.com/projectsyn/" target="_blank"><i
              class="fa fa-github" style="font-size: 30px;"></i>&nbsp;
            GitHub</a>
        </div>
      </div>
    </div>
  </nav>
</header>